<ul>
  <% todos.each do |todo| %>
    <li class="<%= item_class %>">
      <%= todo.description %>
      <div class="todo-footer">
        <span class="timestamp"><%= todo.created_at.to_datetime.strftime('%D %r UTC') %></span>
        <%= link_to 'View', user_todo_path(@user, todo) %> -
        <%= link_to 'Edit', edit_user_todo_path(@user, todo) %> -
        <%= link_to 'Delete', user_todo_path(@user, todo),
          method: :delete, data: { confirm: 'Delete this todo?' }, class: 'danger' %>
      </div>
    </li>
  <% end %>
</ul>